@font-face {
    font-family: HennyPenny-Regular;
    src: url("../Fonts/HennyPenny-Regular.ttf") ;
}

body{
    background-image: url("../Images/abstract-architecture-attractive-988873.jpg");
    background-size: cover;
    font-family:HennyPenny-Regular;
    text-align: center
}



@font-face {
    font-family: FontVision;
    src: url("../Fonts/SF Funk Master.ttf") ;
}


#title{
    font-family: FontVision;
    margin: 0px;
}



@font-face {
    font-family: mrsmonster;
    src: url("../Fonts/mrsmonster.ttf") ;
}
#letters,#keyboard1,#keyboard2{
    font-family: mrsmonster;
}

.wow {
    visibility: hidden;
  }
  .game {
    visibility: hidden;
  }
#letters{
margin-top: 10px;
}
#select{
    margin : 10px 0px 10px 0px
}

#categories, #start{
    font-family:HennyPenny-Regular
}
#letters >  span {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 3px 10px;
    border-bottom: 2px solid black
}
#keyboard1 {
    clear:both;
}
#keyboard1  span,#keyboard2  span  {
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 3px 10px;

}

#keyboard1  span:hover,#keyboard2  span:hover {
transform :scale(3)

}
#keyboard1 ,#keyboard2  {
    margin: 20px 10px 10px 10px;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

#hangmanImage{
    margin: 17px 0px 10px;
    width: 19%;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 35vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
    width: 40%;
    font-size:30px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}